form#app {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
}

form#app > input#target_url {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

form#app > button#execute {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

form#app > textarea#output {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}